<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form [formGroup]="addForm" class="text-center" style="color: #757575;" (ngSubmit)="addCustomer()">
    <div class="form-group">
      <input formControlName="firstName" type="text" id="materialRegisterFormFirstName" class="form-control"  required >
      <label for="materialRegisterFormFirstName">First Name</label>
    </div>

    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="customer.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" required [(ngModel)]="customer.email" name="email">
    </div>

    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Customer added susscesfully !</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
